name: Terraform CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Init/Validate/Apply
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0
      
      - name: Create terraform.tfvars file
        run: |
          cat <<EOF > terraform.tfvars
          subnet_rules =  <<EOT
           ${{ secrets.SUBNET_RULES }}
           EOT
          admin_username = "${{ secrets.ADMIN_USERNAME }}"
          admin_password = "${{ secrets.ADMIN_PASSWORD }}"
          computer_name = "${{ secrets.COMPUTER_NAME }}"
          users = <<EOT 
          "${{ secrets.USERS }}"
          EOT
          EOF

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        run: terraform apply -var-file="terraform.tfvars" -auto-approve -input=false
     